*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.addlist-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  
}

.addlist-container button {
  background-color: #cc8d04;
  transition-duration: 0.5s;
  padding: 4px;
}

.input-text {
  border: 2px solid rgb(5, 4, 4);
  padding: 3px;
}

.list-container{
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

.div-list{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#list-text {
  display: block;
}
#button-container button {
  display: flex;
  margin-left: 5px;
}

#button-container button {
  margin-left: 5px;
}

.btn-edit {
  background-color: #18d567;
  padding: 3.5px;
  color: rgb(140, 122, 122);
  transition-duration: 0.5s;
  border-radius: 2.5px;
}

.btn-delete {
  background-color: #fb120a;
  padding: 3.5px;
  color: rgb(142, 113, 113);
  transition-duration: 0.5s;
  border-radius: 2.5px;
}

.btn-save {
  background-color: #147807;
  padding: 3.5px;
  color: rgb(61, 3, 3);
  transition-duration: 0.5s;
  border-radius: 2.5px;
}

.btn-cancel {
  background-color: #f0f4a1;
  padding: 3.5px;
  color: rgb(1, 9, 16);
  transition-duration: 0.5s;
  border-radius: 2.5px;
}

@media (max-width: 1080px)
{
 .addlist-container{
   width: 100%;
 }
 .list-container{
   width: 100%;
 }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
